---
layout: default
---

<main id="scroll" class="home" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    <div class="content-desktop">
    {% for post in site.posts %}
        <article role="article" class="post-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                <a class="datetime" href="{{ post.url | prepend: site.baseurl }}">
                    <meta itemprop="datePublished" content="{{post.date}}">
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                        <span class="day">
                            {{ post.date | date: "%d" }}
                        </span>
                        <span class="month-year">
                            {{ post.date | date: "%B %Y" }}
                        </span>
                    </time>
                </a>
                <div class="content">
                    <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title" itemprop="name">{{ post.title }}</h2></a>
                    <p class="level"><img src={{ post.level }} alt="techincal level" height=30px></p>
                    <p class="estimated-read-time"><img src="/assets/img/clock.png" alt="clock" height=12px>{{ post.ert }}</p>
                    <a href="{{ post.url | prepend: site.baseurl }}"><img src="{{ post.background }}" width="100%" ></a>
                    <p class="description">
                        {{ post.content | strip_html | truncatewords:40 }}
                        <a href="{{ post.url | prepend: site.baseurl }}" class="link">Read more about {{post.title}}</a>
                    </p>
                    <div class="tags">
                        {% for tag in post.tags %}
                            <a href="{{ site.baseurl }}/tags/#{{tag | slugify }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
        </article>
    {% endfor %}
    </div>
    <div class="homepage-twitter" id="homepage-twitter">
        <a class="twitter-timeline" data-lang="en" data-width="400" href="https://twitter.com/space_wired?ref_src=twsrc%5Etfw">Tweets by space_wired</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="content-phone">
    {% for post in site.posts %}
        <article role="article" class="post-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                <a class="datetime" href="{{ post.url | prepend: site.baseurl }}">
                    <meta itemprop="datePublished" content="{{post.date}}">
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                        <span class="day">
                            {{ post.date | date: "%d" }}
                        </span>
                        <span class="month-year">
                            {{ post.date | date: "%B %Y" }}
                        </span>
                    </time>
                </a>
                <div class="content">
                    <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title" itemprop="name">{{ post.title }}</h2></a>
                    <a href="{{ post.url | prepend: site.baseurl }}"><img src="{{ post.background }}" width="100%" ></a>
                    <p class="estimated-read-time"><a align="left"><img src="/assets/img/clock.png" alt="clock" height=12px>{{ post.ert }}</a><a><img src={{ post.level }} alt="techincal level" height=30px align="right"></a></p>
                    <p class="description">
                        {{ post.content | strip_html | truncatewords:40 }}
                        <a href="{{ post.url | prepend: site.baseurl }}" class="link">Read more about {{post.title}}</a>
                    </p>
                    <div class="tags">
                        {% for tag in post.tags %}
                            <a href="{{ site.baseurl }}/tags/#{{tag | slugify }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
        </article>
    {% endfor %}
    </div>
    <div class="phone-twitter">
        <a class="twitter-timeline" data-lang="en" data-width="400" href="https://twitter.com/space_wired?ref_src=twsrc%5Etfw">Tweets by space_wired</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
     </div>
</main>