<div class="search-wrapper">
    <div class="search-form">
        <input type="text" class="search-field" placeholder="Search...">
        <svg class="icon-remove-sign"><use xlink:href="#icon-close"></use></svg>
        <ul class="search-results search-list"></ul>
    </div>
</div>

<div id="navbar">
    <a href="{{ site.url }}/"><img src="/assets/img/spacewire-logo-white-letter.png" width="115"/></a>
    {% for link in site.links %}
    {% if link.external %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% else %}
      <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
    {% endif %}
    {% endfor %}
    <p id= "dosearch" class="dosearch"> <svg class="icon-menu icon-search"><use xlink:href="#icon-search"></use></svg></p>
</div>


{% comment %} LEFT HERE IN CASE I EVER WANT TO ADD MENU FADE BOX {% endcomment %}
{% comment %} <div id="fade" class="overlay"></div> {% endcomment %}
{% comment %} <a id="slide" class="slideButton fade">
    <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    <svg id="close" class="icon-menu"><use xlink:href="#icon-close"></use></svg>
</a> {% endcomment %}

{% comment %} <aside id="sidebar">
<nav id="navigation">
  <h2>MENU</h2>
    {% for link in site.links %}
    {% if link.external %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% else %}
      <li><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
</aside> {% endcomment %}