---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <img src="/assets/img/DART/longshot.png" height="100%" width="100%">
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post" itemscope itemtype="http://schema.org/WebPage">

            <article role="article" id="scroll" class="post-content" role="main" itemprop="mainContentOfPage">
                {{ content }}
            </article>
        </section>
    </body>
    {% include footer.html %}
    <button onclick="topFunction()" id="topBtn" title="Go to top"><img src="https://raw.githubusercontent.com/spacewired/spacewired.github.io/master/assets/img/edu-pict-rocketship.png" width="60px"></button>
</html>

<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>