---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <img src="/assets/img/DART/longshot.png" height="100%" width="100%">
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post" itemscope itemtype="http://schema.org/WebPage">

            <article role="article" id="scroll" class="post-content" role="main" itemprop="mainContentOfPage">
                {{ content }}
            </article>
            <div class="phone-twitter">
                <a class="twitter-timeline" data-lang="en" data-width="400" href="https://twitter.com/space_wired?ref_src=twsrc%5Etfw">Tweets by space_wired</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            {% include footer.html %}
        </section>
    </body>
</html>
