<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <img src="{{ page.background }}" height="100%" width="100%">
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">

            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>

            {% include share.html %}
            {% include author.html %}
            {% include comments.html %}
            <div class="phone-twitter">
                <a class="twitter-timeline" data-lang="en" data-width="400" href="https://twitter.com/space_wired?ref_src=twsrc%5Etfw">Tweets by space_wired</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            {% include footer.html %}
        </section>
    </body>
</html>
