<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <img src="{{ page.background }}" height="100%" width="100%">
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post" itemscope itemtype="http://schema.org/BlogPosting">

            <article role="article" id="scroll" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>

            {% include share.html %}
            {% include author.html %}
            {% include comments.html %}
        </section>
    </body>
    {% include footer.html %}
    <button onclick="topFunction()" id="topBtn" title="Go to top"><img src="https://raw.githubusercontent.com/spacewired/spacewired.github.io/master/assets/img/edu-pict-rocketship.png" width="60px"></button>
</html>
